// 변수설정 
// 21 sass 02문법 17 . 연산-논리 
$w:100px;
.item {
    display:block;
    
    // 만약에 w가 50px 보다 크다면 
    // width를 400px 로 해줘라 
    // @if ($w > 50px){
    //     width:400px;
        
    // }
    
    // @if ($w > 150px){
    //     width:400px;
        
    // }
    
    // and 연산자 
    // 50보다는 크고 90보다 도 크면 
    // @if ($w > 50px and $w > 90px){
    //     width:400px;
        
    // }
    
    // @if ($w > 50px and $w < 90px){
    //     width:400px;
        
    // }
    // 거짓이므로 width가 적용되지 않음 
    
    // or 연산자
    // 둘중 하나 충족시 적용됌 
    //   @if ($w > 50px or $w < 90px){
    //         width:400px;
            
    //     }
    
    // not 연산자 
    // @if not ($w < 50px){
    //         width:400px;
            
    //  }
    //  조건은 거짓이고 not 은 반대이기때문에 
    //  결과적으로 참 
    //  width:400px 적용됌 
    
    @if not ($w > 50px){
        width:400px;
    }
    // 참의 반대는 거짓이므로 400적용안됌 
    
    
    
    
}
  