// 24 재활용 - content

// 받을매개변수 $url 
@mixin icon ($url){
    &::after {
        content: $url;
        @content;
    }
}

.box1 {
    @include icon ("image/icon.png");
}

.box2 {
    @include icon ("image/icon.png") {
        display:block;
        position:absolute;
        width:100px;
        height:100px;
    };
}

// 준가로 부분은 @content 에 적용됌 