// 30 if 함수 

// $w: 555px;
$w: 100px;


div {
    //   width: if ($w > 1, 2, 3);
    // 1, 2, 3 인수로 받게 됌 
    
    // width: if ($w > 300px, 2, 3);
    // 300px 보다 크니 라고 조건 
    
      width: if ($w > 300px, $w, null);
    //   w:100  이므로 조건문은 틀린조건문이 됌
      
    //   결과적으로 width = null 값이 들어가게됌 
    // width 에 null이들어가면 값은 사용되지 않는
    // 개념이 됌 
      
      
    //   null : $w 가 300보다 크지 않을 경우 
    height: 100px;

    
}
