* {
  box-sizing: border-box;
  list-style: none;
}

ul {
  padding: 0;
}

.container {
  width: 500px;
  background-color: #dfdfdf;
  /* 코드 작성 */
}

.header {
  background-color: pink;
  width: 100%;

  padding: 10px 0;
}

.nav {
  background-color: yellow;
  width: 100%;
}

.menu {background-color: orange; display: inline-block; margin: 10px; padding: 10px;}

/* 추가 CSS 코드 작성 */

.sign {
  width: 100%;
}
/* 추가 CSS 코드 작성 */
.sign ul {display: flex;}
.sign ul li {background-color: skyblue; padding: 3px;}
.sign ul li:first-child {margin-right: 5px;}
.sign #id {width: 150px; }

.main,
.aside {
  height: 300px;
}

.main {
  background-color: lightGreen;
  width: 350px;
  padding: 10px;
 /* 추가 CSS 코드 작성 */
 display: flex;
 float: left;
}

section {
  width: 50%;
}

.section1 {
  background-color: green;
}

.section2 {
  background-color: khaki;
}

.aside {
  background-color: coral;
  width: 150px;
  /* 추가 CSS 코드 작성 */
  float: left;
}

.footer {
  background-color: lightGrey;
  width: 100%;
  height: 50px;
/* 추가 CSS 코드 작성 */
  clear: both;
}
